{% extends "base.html" %}
{% block content %}

   <h1>Customer</h1>



        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Click Dropdown </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">User with credit</a>
              <div class="dropdown-divider"></div>
            </div>
          </div>

<hr/>

    <table class="table table-striped table-bordered table-hover">
       <thead>
        <tr>
            <th>Customer ID</th>
        </tr>
        </thead>

</table>




{% endblock content %}
