<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Find it on Toolio</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="/customer"><span class="glyphicon glyphicon-user"></span>Customer Search</a></li>
            </ul>
             <ul class="nav navbar-nav">
                <li><a href="/product"><span class="glyphicon glyphicon-shopping-cart"></span> Product Search</a></li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
            </ul>-->
        </div>
    </div>
</div>


